<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Racket (Nick's Bundle)</string>
	<key>ordering</key>
	<array>
		<string>CD76FB16-E5BF-4E10-8B1D-D1CFCCCE0781</string>
		<string>58ECCAF7-2CFB-4B98-BD13-470437775699</string>
		<string>2CCB94F9-FFA0-4B53-BD7D-1E1E20E83B01</string>
		<string>1E7DF583-2B20-433E-872D-810A9F2553D9</string>
		<string>E09C8356-137E-421B-AF9F-D08E1CB2BC4D</string>
		<string>AA507E61-D27A-46CA-B6F2-44D54B5C4370</string>
		<string>33878E5C-D6F1-4F3B-90FE-0F96656861B3</string>
		<string>304E48C3-50E7-4242-985D-A7429D098D29</string>
		<string>D595F053-0892-48EC-A1C4-CDA4F81A4AE5</string>
	</array>
	<key>uuid</key>
	<string>1469C2FE-50C4-44DF-839B-B964ADBEE311</string>
</dict>
</plist>
